/* global */
.full-bleed {
    margin: 0;
    padding: 0;
}

.bleed {
    margin: 0;
    padding: 0;
}

.checkbox~label {
    opacity: 1 !important;
}

.checkbox:checked~label {
    font-weight: 600;
}

/* section */
.section-blends {
    background-image: url('scroll-product-section-gradient-bg.png') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    padding: 32px 0px;
}

@media screen and (min-width: 700px) {
    .section-blends {
        padding: 80px 0;
    }
}

.goshop {
    background: #FCD817 !important;
    border-radius: 50px;
    cursor: pointer;
    font-family: var(--btn-font-family);
    font-weight: 700;
    text-decoration: none;
    padding: 16px 56px;
    text-align: center;
    color: #000;
}

.goshop:hover {
    opacity: 0.7;
}

/* footer */
.footer {
    background-image: url('footer-gradient-bg.png') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    --footer-part-gap: var(--spacing-10);
}

.text-subdued {
    color: #000;
}

/* swiper */
.next-button,
.prev-button {
    opacity: 1;
    visibility: visible;
}

.swiper-button-next,
.swiper-button-prev,
.next-button,
.prev-button {
    position: relative;
    color: #000;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 0px 14.69px 0px #0000001A;
    border: none;
}

.swiper-button-next,
.swiper-button-prev {
    box-shadow: none;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled,
.circle-button[disabled] {
    opacity: 1;
    background: #FFFFFF;
}

.swiper-button-next,
.next-button {
    right: auto !important;
}

.swiper-button-prev,
.prev-button {
    left: auto !important;
}

.next-button::after,
.prev-button::after {
    width: 32px;
    height: 32px;
}

.swiper-button-next::after,
.next-button::after {
    content: url('https://cdn.shopify.com/s/files/1/0496/2936/4391/files/green-arrow.svg?v=1723870614');
    line-height: 0;
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next[aria-disabled="true"]::after,
.next-button:disabled::after {
    content: url('https://cdn.shopify.com/s/files/1/0496/2936/4391/files/white-arrow.svg?v=1723870614');
    transform: rotate(0deg);
}

.swiper-button-prev::after,
.prev-button::after {
    content: url('https://cdn.shopify.com/s/files/1/0496/2936/4391/files/green-arrow.svg?v=1723537216');
    transform: rotate(0deg);
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev[aria-disabled="true"]::after,
.prev-button:disabled::after {
    content: url('https://cdn.shopify.com/s/files/1/0496/2936/4391/files/white-arrow.svg?v=1723537216');
    transform: rotate(180deg);
}

.swiper-footer {
    display: flex;
    column-gap: 10px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: auto;
}

.swiper-pagination {
    position: relative !important;
    margin-left: auto;
    margin-right: auto;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 4px;
    border: none;
    background: #FFFFFF;
    opacity: 1;
    border-radius: 0;
}

.swiper-pagination .swiper-pagination-bullet-active {
    width: 65px;
    background: #000000;
}

/* section header */

.section-blends .section-header {
    text-align: center;
    display: inline-block;
    padding: 0 24px;
}

.section-header .prose {
    display: inline-block;
    position: relative;
}

.section-header-heading-bg {
    background-color: #ffc9d0;
    height: 20px;
    position: absolute;
    width: 100%;
    margin-top: -19px !important;
}

.section-header .prose h2 {
    z-index: 1;
    position: relative;
    font-family: var(--heading-font-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -2px;
}

.section-header .prose p {
    font-family: var(--btn-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}


@media screen and (min-width: 699px) {

    .swiper-button-next,
    .swiper-button-prev,
    .next-button,
    .prev-button {
        position: absolute;
        top: 43%;
        width: 58px;
        height: 58px;
        line-height: 18px;
    }

    .swiper-button-next,
    .next-button {
        right: 80px !important;
    }

    .swiper-button-prev,
    .prev-button {
        left: 80px !important;
    }


    .next-button::after,
    .prev-button::after {
        width: 58px;
        height: 58px;
    }

    .swiper-button-next::after,
    .next-button::after {
        content: url('https://cdn.shopify.com/s/files/1/0496/2936/4391/files/green-arrow-ds.svg?v=1723870614');
        line-height: 0;
        transform: rotate(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-button-next[aria-disabled="true"]::after,
    .next-button:disabled::after {
        content: url('https://cdn.shopify.com/s/files/1/0496/2936/4391/files/white-arrow-ds.svg?v=1723870614');
        transform: rotate(0deg);
    }

    .swiper-button-prev::after,
    .prev-button::after {
        content: url('https://cdn.shopify.com/s/files/1/0496/2936/4391/files/green-arrow-ds.svg?v=1723537216');
        transform: rotate(0deg);
        line-height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-button-prev[aria-disabled="true"]::after,
    .prev-button:disabled::after {
        content: url('https://cdn.shopify.com/s/files/1/0496/2936/4391/files/white-arrow-ds.svg?v=1723537216');
        transform: rotate(180deg);
    }
}

@media screen and (min-width:900px) {
    .section-header .prose h2 {
        font-size: 50px;
        line-height: 58.4px;
        letter-spacing: -2px;
        padding: 0;
    }

    .section-header .prose p {
        font-size: 20px;
        line-height: 19.6px;
        letter-spacing: 1px;
        padding: 0;
    }
}

.more-info-with-review {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.more-info-with-review .overlay-goshop-right {
    margin: auto;
}

/* Chevron */
.circle-chevron {
    background: unset;
    width: 40px;
    height: 40px;
}

.accordion.group .circle-chevron::after {
    content: url("https://cdn.shopify.com/s/files/1/0496/2936/4391/files/plus-chevron.svg?v=1723912409")
}

.group[aria-expanded=true] .circle-chevron.group-expanded\:colors:not([disabled]) {
    background: unset;
}

.accordion.group[aria-expanded=true] .circle-chevron.group-expanded\:colors:not([disabled])::after {
    content: url("https://cdn.shopify.com/s/files/1/0496/2936/4391/files/minus-chevron.svg?v=1723912409")
}

/* animations */
@keyframes translateFullReverse {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(100% * var(--transform-logical-flip)));
    }
}

.group:hover .circle-chevron.group-hover\:colors:not([disabled]) {
    background: inherit;
    color: inherit;
}

.page {
    max-width: 693px;
}

/* badge */
.badge {
    border-radius: 29.05px;
    font-family: var(--heading-font-family);
    font-size: 9.3px;
    line-height: 9.11px;
    text-align: center;
    background: #FFC9D0;
    padding: 5px 9px;
    color: #000;
}

@media screen and (min-width:700px) {
    .badge {
        font-size: 16px;
        line-height: 18.75px;
        padding: 5px 20px;
    }
}

.product-card__badge-list {
    top: 8px !important;
    left: 6px !important;
}

@media screen and (min-width:700px) {
    .product-card__badge-list {
        top: 14px !important;
        left: 12px !important;
    }
}

/* scroll-caroucel */

/* checkbox */
.custom-checkbox[type="checkbox"],
.custom-checkbox[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 2px solid #000;
    /* Set the border color and thickness */
    border-radius: 4px;
    /* This gives the rounded corners */
    position: relative;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: none;
    border: solid 1px #000;
}

/* Checkmark for checked state */
.custom-checkbox[type="checkbox"]:checked,
.custom-checkbox[type="radio"]:checked {
    background-color: #000;
    /* Set the background color for the checked state */
    border-color: #000;
    /* Adjust the border color */
}

/* swatch */
.color-swatch:before {
    content: url('https://cdn.shopify.com/s/files/1/0496/2936/4391/files/check-mark.svg?v=1724226774');
    box-shadow: none;
    border-radius: 0;
    inset: unset;
    line-height: 0px;
}

.color-swatch.speckled:before {
    content: url('https://cdn.shopify.com/s/files/1/0496/2936/4391/files/check-mark-black.svg?v=1724226774');
}